<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idea3d.open_bank_challengue">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/marvel_logo_circle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/marvel_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Openbankchallengue">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>